<h1>Deliveries</h1>

<a href="#/deliver" class="btn btn-primary">New Delivery</a>

  <h2>Order history</h2>
  <table class="table">
  <tr>
    <th><a href="" ng-click="predicate = '$index'; reverse=!reverse">Order id</a>
    <th><a href="" ng-click="predicate = 'address'; reverse=!reverse">Address</a></th>
    <th><a href="" ng-click="predicate = 'time'; reverse=!reverse">Delivery time</a></th>
  </tr>
  <tr ng-repeat="deliveries in deliveries | orderBy:predicate">
    <td>{{$index}}</td>
    <td>{{deliveries.address}}</td>
    <td>{{deliveries.time}}</td>
  </tr>
  </table>
</div>